<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="#" th:action="@{/user/{id}/edit(id=${userAccount.accountId})}" th:object="${userAccount}" method="post">
    <label for="accountId">ID</label>
    <input readonly type="number" th:field="*{accountId}" id="accountId" placeholder="ID">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</div>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</div>

    <label>Role</label>
    <select name="role">
        <option th:each="role : ${T(by.intro.usercontrol.model.Role).values()}"
                th:value="${role}" th:text="${role}"
                th:selected="${role} == ${userAccount.getRole()}">
        </option>
    </select>
    <label>Status</label>
    <select name="status">
        <option th:each="status : ${T(by.intro.usercontrol.model.Status).values()}"
                th:value="${status}" th:text="${status}"
                th:selected="${status} == ${userAccount.getStatus()}">
        </option>
    </select>

    <div hidden>
    <label for="createdAt">Created At</label>
    <input readonly type="datetime-local" th:field="*{createdAt}" id="createdAt" placeholder="Created At">
    </div>
    <input type="submit" value="Save Account">
</form>
<p><a href="/user">To accounts list</a></p>
</body>
</html>