<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
        <th>Status</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${userAccount.accountId}"></td>
        <td th:text="${userAccount.username}"></td>
        <td th:text="${userAccount.firstName}"></td>
        <td th:text="${userAccount.lastName}"></td>
        <td th:text="${userAccount.role}"></td>
        <td th:text="${userAccount.status}"></td>
        <td th:text="${userAccount.createdAt}"></td>
        <td><a th:href="@{{id}/edit(id=${userAccount.accountId})}">Edit</a></td>
        <td><form action="#" th:action="@{{id}/lock(id=${userAccount.accountId})}" th:object="${userAccount}" method="post">
            <input type="submit" value="Lock/Unlock">
        </form></td>
    </tbody>
</table>
<p><a href="/user">To accounts list</a></p>
</body>
</html>